.nav-bar {
  display: flex;
  background-color: black;
  height: 45px;
  justify-content: space-between;
}

.nav-item > a {
  background: black;
  border: 2px solid #9fffa2;
  color: #9fffa2;
  font-size: 20px;
  text-decoration: none;
  position: relative;
  top: -1px;
  margin: 3px;
  padding: 8px;
  border-radius: 25px;
}

.nav-item > a:link,
.nav-item > a:visited {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
}

.nav-item > a:hover {
    transform: translateY(-3px);
}

.nav-item > a:active {
    transform: translateY(-1px);
}
